# For deployment to tracker.codeborne.com
services:
  tracker:
    volumes:
      - /var/tracker/attachments:/app/attachments
    environment:
      - SMTP_HOST=node1.codeborne.com
    networks:
      - proxy
      - default

  db:
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d

networks:
  proxy:
    external: true
